@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@1,388&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 388;
  font-style: italic;
}

.head{
  padding: 2rem;
  background-color: #FD4674;
}
.head ul{
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.head li{
  font-size: 1.5rem;
}
.head ul li a{
  text-decoration: none;
  color: white;
}